
@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Regular.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Light.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans-Light.woff') format("woff")
  font-weight: 300
  font-style: normal
  font-display: swap
  
@font-face
  font-family: 'Oswald'
  src: url('../fonts/Oswald/Oswald-Bold.woff2') format("woff2"), url('../fonts/Oswald/Oswald-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Oswald'
  src: url('../fonts/Oswald/Oswald-Regular.woff2') format("woff2"), url('../fonts/Oswald/Oswald-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Oswald'
  src: url('../fonts/Oswald/Oswald-SemiBold.woff2') format("woff2"), url('../fonts/Oswald/Oswald-SemiBold.woff') format("woff")
  font-weight: 600
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Oswald'
  src: url('../fonts/Oswald/Oswald-Medium.woff2') format("woff2"), url('../fonts/Oswald/Oswald-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Oswald'
  src: url('../fonts/Oswald/Oswald-Light.woff2') format("woff2"), url('../fonts/Oswald/Oswald-Light.woff') format("woff")
  font-weight: 300
  font-style: normal
  font-display: swap


@font-face
  font-family: 'BebasNeue'
  src: url('../fonts/BebasNeue/BebasNeueRegular.woff2') format("woff2"), url('../fonts/BebasNeue/BebasNeueRegular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik/Rubik-Regular.woff2') format("woff2"), url('../fonts/Rubik/Rubik-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'NotoSans'
  src: url('../fonts/NotoSans/NotoSans-Regular.woff2') format("woff2"), url('../fonts/NotoSans/NotoSans-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap


@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?6opq7p')
  src: url('../fonts/icomoon/icomoon.eot?6opq7p#iefix') format("embedded-opentype"), url('../fonts/icomoon/icomoon.ttf?6opq7p') format("truetype"), url('../fonts/icomoon/icomoon.woff?6opq7p') format("woff"), url('../fonts/icomoon/icomoon.svg?6opq7p#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block


[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon' !important
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

.icon-facebook:before
  content: "\e90f"
  color: #fff

.icon-insta:before
  content: "\e910"
  color: #fff

.icon-ok:before
  content: "\e911"
  color: #fff

.icon-twitter:before
  content: "\e912"
  color: #fff

.icon-vk:before
  content: "\e913"
  color: #fff

.icon-place:before
  content: "\e90c"

.icon-edit:before
  content: "\e90d"

.icon-delete:before
  content: "\e90e"

.icon-angle-down:before
  content: "\e900"

.icon-angle-right:before
  content: "\e901"

.icon-angle-up:before
  content: "\e902"

.icon-check:before
  content: "\e903"

.icon-clock:before
  content: "\e904"

.icon-cross:before
  content: "\e905"

.icon-heart:before
  content: "\e906"

.icon-marker:before
  content: "\e907"

.icon-minus:before
  content: "\e908"

.icon-plus:before
  content: "\e909"

.icon-strar:before
  content: "\e90a"

.icon-user:before
  content: "\e90b"



.ic
  display: block
  width: 24px
  height: 24px

  &-user
    background: url(../img/ic-user.svg) no-repeat

  &-phone
    background: url(../img/ic-phone.svg) no-repeat

  &-basket
    background: url(../img/ic-basket.svg) no-repeat

  &-burger
    width: 18px
    height: 14px
    background: url(../img/ic-burger.svg) no-repeat

  &-filter
    width: 32px
    height: 32px
    background: url(../img/ic-filter.svg) no-repeat
    background-size: contain